<div class="fullbox ion-padding">
  <div style="margin-bottom: 2rem;">
    <h1>
      4. ดำเนินการเสร็จสิ้น
    </h1>
  </div>
  <div class="center-container">
    <div [hidden]="false" id="approve" style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <div class="check_warpper">
        <ion-icon src="assets/svg/checked.svg"></ion-icon>
      </div>
      <div style="text-align: center;">
        <h2>
          ยินดีด้วยบัญชีของคุณผ่านการตรวจสอบเรียบร้อบแล้ว
        </h2>
      </div>
      <!-- <ion-button shape="round" class="btn-form">
        <div class="text-nav">เพื่มบัญชีธนาคาร
        </div>
      </ion-button> -->
    </div>
    
    <div [hidden]="true" id="processing" style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <div class="check_warpper">
        <ion-icon src="assets/svg/stopwatch.svg"></ion-icon>
      </div>
      <div style="text-align: center;">
        <h2>
          ยินดีด้วยบัญชีของคุณจะได้รับการตรวจสอบภายใน 24 ชั่วโมง
        </h2>
        <h2>
          ระหว่างนี้เราแนะนำให้คุณกรอกบัญชีธนาคารได้เลยคะ
        </h2>
      </div>
      <ion-button shape="round" class="btn-form">
        <div class="text-nav">เพื่มบัญชีธนาคาร
        </div>
      </ion-button>
    </div>

    <div [hidden]="true" id="error" style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <div class="check_warpper">
        <ion-icon src="assets/svg/cross.svg"></ion-icon>
      </div>
      <div style="text-align: center;">
        <h2>
          ข้อมูลของคุณไม่ผ่านการตรวจสอบ
        </h2>
        <h2>
          เนื่องจากเหตุผลดังนี้ กรุณาทำการส่งข้อมูลเข้ามาใหม่
        </h2>
        <div class="reason">
          <p>
            - รูปบัตรประชาชนไม่ชัดเจน
          </p>
          <p>
            - เหตุผล 2
          </p>
          <p>
            - เหตุผล 3
          </p>
          <p>
            - เหตุผล 4
          </p>
          <p>
            - เหตุผล 5
          </p>
        </div>
      </div>
      <ion-button shape="round" class="btn-form">
        <div class="text-nav">
          ส่งข้อมูลใหม่
        </div>
      </ion-button>
    </div>

  </div>

</div>