<div class="fullbox ion-padding">
  <div style="margin-bottom: 2rem;">
    <h1>
      1. ข้อมูลทั่วไป
    </h1>
  </div>

  <div class="form">
    <form [formGroup]="step1Form">
      <ion-row class="space">
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input"
            [class.form_error]="(getFormControl.firstname_eng.touched || submitted) && getFormControl.firstname_eng.errors?.required">
            <div class="label-form">
              *ชื่อ (ภาษาอังกฤษ)
            </div>
            <ion-input formControlName="firstname_eng" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input"
            [class.form_error]="(getFormControl.lastname_eng.touched || submitted) && getFormControl.lastname_eng.errors?.required">
            <div class="label-form">
              *นามสกุล (ภาษาอังกฤษ)
            </div>
            <ion-input formControlName="lastname_eng" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="space">
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input"
            [class.form_error]="(getFormControl.firstname_th.touched || submitted) && getFormControl.firstname_th.errors?.required">
            <div class="label-form">
              *ชื่อ (ภาษาไทย)
            </div>
            <ion-input formControlName="firstname_th" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input"
            [class.form_error]="(getFormControl.lastname_th.touched || submitted) && getFormControl.lastname_th.errors?.required">
            <div class="label-form">
              *นามสกุล (ภาษาไทย)
            </div>
            <ion-input formControlName="lastname_th" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="space">
        <ion-col size="12" size-xl="6" class="space">
          <ion-row>
            <ion-col size="4">
              <div class="form-input"
                [class.form_error]="(getFormControl.gender.touched || submitted) && getFormControl.gender.errors?.required">
                <div class="label-form">
                  *เพศ
                </div>
                <div class="select-input">
                  <select formControlName="gender" class="native-input sc-ion-input-md">
                    <option value="male">ชาย</option>
                    <option value="female">หญิง</option>
                  </select>
                </div>

              </div>
            </ion-col>
            <ion-col size="8">
              <div class="form-input"
                [class.form_error]="(getFormControl.marital_status.touched || submitted) && getFormControl.marital_status.errors?.required">
                <div class="label-form">
                  *สถานะภาพ
                </div>
                <div class="select-input">
                  <select formControlName="marital_status" class="native-input sc-ion-input-md">
                    <option value="single">โสด</option>
                    <option value="married">แต่งงานแล้ว</option>
                    <option value="widow">หม้าย</option>
                  </select>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-col >
        <ion-col size="12" size-xl="6" class="space">
          <div class="label-form">
            *เบอร์โทรศัพท์มือถือ
          </div>
          <ion-row>
            <ion-col>
              <div class="form-input"
                [class.form_error]="(getFormControl.tel_number.touched || submitted) && getFormControl.tel_number.errors?.required">
                <ion-input id="tel-input" formControlName="tel_number" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
      <ion-row class="space">
        <ion-col size="12" size-xl="6" class="space">
          <div class="label-form">
            *วัน / เดือน / ปี เกิด (ต้องมีอายุมากกว่า 20 ปี) <div *ngIf="submitted"
              class="input_error_message">{{getFormControl.dfb.errors?.message}}</div>
          </div>
          <ion-row>
            <ion-col>
              <div class="form-input"
                [class.form_error]="(getFormControl.dfb.touched || submitted) && getFormControl.dfb.errors?.required">
                <div class="date-input">
                  <input type="date" formControlName="dfb" class="native-input sc-ion-input-md">
                  <!-- <select formControlName="dfb_day" class="native-input sc-ion-input-md">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select> -->
                </div>
              </div>
            </ion-col>
            <!-- <ion-col>
              <div class="form-input"
                [class.form_error]="(getFormControl.dfb_month.touched || submitted) && getFormControl.dfb_month.errors?.required">
                <div class="select-input">
                  <select formControlName="dfb_month" class="native-input sc-ion-input-md">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
            </ion-col> -->
            <!-- <ion-col>
              <div class="form-input"
                [class.form_error]="(getFormControl.dfb_year.touched || submitted) && getFormControl.dfb_year.errors?.required">
                <div class="label-form">

                </div>
                <div class="select-input">
                  <select formControlName="dfb_year" class="native-input sc-ion-input-md">
                    <option value="volvo">Volvo</option>
                    <option value="saab">Saab</option>
                    <option value="mercedes">Mercedes</option>
                    <option value="audi">Audi</option>
                  </select>
                </div>
              </div>
            </ion-col> -->
          </ion-row>
        </ion-col>
        <ion-col size="12" size-xl="6"class="space">
          <div class="form-input"
            [class.form_error]="(getFormControl.income_range.touched || submitted) && getFormControl.income_range.errors?.required">
            <div class="label-form">
              ช่วงรายได้
            </div>
            <div class="select-input">
              <select formControlName="income_range" class="native-input sc-ion-input-md">
                <option value="0-5000">0-5,000 บาท/เดือน</option>
                <option value="5001-15000">5,001-15,000 บาท/เดือน</option>
                <option value="15001-30000">15,001-30,000 บาท/เดือน</option>
                <option value="30000-50000">30,000-50,000 บาท/เดือน</option>
                <option value="50000-100000">50,001-100,000 บาท/เดือน</option>
                <option value="100000-200000">100,0001-200,000 บาท/เดือน</option>
              </select>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="space">
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input"
            [class.form_error]="(getFormControl.nationality.touched || submitted) && getFormControl.nationality.errors?.required">
            <div class="label-form">
              สัญชาติ
            </div>
            <div class="select-input">
              <select formControlName="nationality" class="native-input sc-ion-input-md">
                <option value="thai">ไทย</option>
                <option value="not_thai">อื่นๆ</option>
              </select>
            </div>
          </div>
        </ion-col>
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input"
            [class.form_error]="(getFormControl.job.touched || submitted) && getFormControl.job.errors?.required">
            <div class="label-form">
              อาชีพ
            </div>
            <div class="select-input">
              <select formControlName="job" class="native-input sc-ion-input-md">
                <option value="employment">รับจ้าง</option>
                <option value="personal_business">ธุรกิจส่วนตัว</option>
                <option value="official">ข้าราชการ</option>
                <option value="state_enterprise">รัฐวิสาหกิจ</option>
                <option value="other">อื่นๆ</option>
              </select>
            </div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="space">
        <ion-col size="12" size-xl="6" class="space">
          <div class="label-form">
            *ที่อยู่ตามบัตรประชาชน
          </div>
          <ion-row class="space">
            <ion-col>
              <div class="form-input"
                [class.form_error]="(getFormControl.form_id_card_address.touched || submitted) && getFormControl.form_id_card_address.errors?.required">
                <div class="label-form">
                </div>
                <ion-input formControlName="form_id_card_address" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="space">
            <ion-col>
              <div class="label-form">
                *ตำบล
              </div>
              <div class="form-input"
                [class.form_error]="(getFormControl.form_id_card_subdistrict.touched || submitted) && getFormControl.form_id_card_subdistrict.errors?.required">
                <ion-input formControlName="form_id_card_subdistrict" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col>
              <div class="label-form">
                *อำเภอ
              </div>
              <div class="form-input"
                [class.form_error]="(getFormControl.form_id_card_district.touched || submitted) && getFormControl.form_id_card_district.errors?.required">
                <div class="label-form">
                </div>
                <ion-input formControlName="form_id_card_district" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="space">
            <ion-col>
              <div class="label-form">
                *จังหวัด
              </div>
              <div class="form-input"
                [class.form_error]="(getFormControl.form_id_card_province.touched || submitted) && getFormControl.form_id_card_province.errors?.required">
                <ion-input formControlName="form_id_card_province" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col>
              <div class="label-form">
                *รหัสไปรษณีย์
              </div>
              <div class="form-input"
                [class.form_error]="(getFormControl.form_id_card_zipcode.touched || submitted) && getFormControl.form_id_card_zipcode.errors?.required">
                <div class="label-form">
                </div>
                <ion-input formControlName="form_id_card_zipcode" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" size-xl="6" class="space">
          <ion-row>
            <ion-col size="12" size-xl="6">
              <div class="label-form" style="display: flex;justify-content: space-between;">
                *ที่อยู่ที่สะดวกในการติดต่อ และรับของ 
              </div>
            </ion-col>
            <ion-col size="12" size-xl="6">
              <div class="label-form" style="display: flex;align-items: center;">
                <ion-checkbox (ionChange)="sameChange($event)" style="margin-right: 10px;"></ion-checkbox>
                ใช้ที่อยู่เดียวกับบัตรประชาชน
              </div>
            </ion-col>
          </ion-row>



          <div [hidden]="same_address">
            <ion-row class="space">
              <ion-col>
                <div class="form-input"
                  [class.form_error]="(getFormControl.current_address.touched || submitted) && getFormControl.current_address.errors?.required">
                  <div class="label-form">
                  </div>
                  <ion-input formControlName="current_address" type="text"></ion-input>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="space">
              <ion-col>
                <div class="label-form">
                  *ตำบล
                </div>
                <div class="form-input"
                  [class.form_error]="(getFormControl.current_subdistrict.touched || submitted) && getFormControl.current_subdistrict.errors?.required">
                  <ion-input formControlName="current_subdistrict" type="text"></ion-input>
                </div>
              </ion-col>
              <ion-col>
                <div class="label-form">
                  *อำเภอ
                </div>
                <div class="form-input"
                  [class.form_error]="(getFormControl.current_district.touched || submitted) && getFormControl.current_district.errors?.required">
                  <div class="label-form">
                  </div>
                  <ion-input formControlName="current_district" type="text"></ion-input>
                </div>
              </ion-col>
            </ion-row>
            <ion-row class="space">
              <ion-col>
                <div class="label-form">
                  *จังหวัด
                </div>
                <div class="form-input"
                  [class.form_error]="(getFormControl.current_province.touched || submitted) && getFormControl.current_province.errors?.required">
                  <ion-input formControlName="current_province"  type="text"></ion-input>
                </div>
              </ion-col>
              <ion-col>
                <div class="label-form">
                  *รหัสไปรษณีย์
                </div>
                <div class="form-input"
                  [class.form_error]="(getFormControl.current_zipcode.touched || submitted) && getFormControl.current_zipcode.errors?.required">
                  <div class="label-form">
                  </div>
                  <ion-input formControlName="current_zipcode"  type="text"></ion-input>
                </div>
              </ion-col>
            </ion-row>
          </div>

        </ion-col>
      </ion-row>
      <div style="text-align: center;width: 100%;">
        <ion-button (click)="onSubmit()" shape="round" class="btn-form">
          <div class="text-nav">ขั้นตอนถัดไป <ion-icon style="margin-left: 20px;" name="chevron-forward-circle-outline">
            </ion-icon>
          </div>
        </ion-button>
      </div>
    </form>
  </div>
</div>