
<ion-content class="ion-padding">
  <div [hidden]="loading" class="fullpage">
    <!-- <div class="step-container">
      <div class="step-center">
        <div class="step-line"></div>
        <div class="step" [class.active]="step == 'step1'">
          <div class="step-circle">
            <div class="step-number">
              1
            </div>
          </div>
          <div class="step-name">
            ข้อมูลทั่วไป
          </div>
        </div>
        <div class="step" [class.active]="step == 'step2'">
          <div class="step-circle">
            <div class="step-number">
              2
            </div>
          </div>
          <div class="step-name">
            ข้อมูลตัวตน
          </div>
        </div>
        <div class="step" [class.active]="step == 'step3'">
          <div class="step-circle">
            <div class="step-number">
              3
            </div>
          </div>
          <div class="step-name">
            รอการตรวจสอบ
          </div>
        </div>
        <div class="step" [class.active]="step == 'step4'">
          <div class="step-circle">
            <div class="step-number">
              4
            </div>
          </div>
          <div class="step-name">
            ดำเนินการเสร็จสิ้น
          </div>
        </div>
      </div>
    </div> -->
    <div class="step-container ion-padding-bottom">
      <ion-grid style="width: 100%;">
        <ion-row style="width: 100%;" class="ion-justify-content-around">
          <ion-col size-xl="2" size="3">
            <div class="cirle">
              <div class="content">
                <div class="step" [class.active]="step == 'step1'">
                  <div class="step-circle">
                    <div class="step-number">
                      1
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="step-name">
              ข้อมูลทั่วไป
            </div>
          </ion-col>
          <ion-col size-xl="2" size="3">
            <div class="cirle">
              <div class="content">
                <div class="step" [class.active]="step == 'step2'">
                  <div class="step-circle">
                    <div class="step-number">
                      2
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="step-name">
              ข้อมูลตัวตน
            </div>
          </ion-col>
          <ion-col size-xl="2" size="3">
            <div class="cirle">
              <div class="content">
                <div class="step" [class.active]="step == 'step3'">
                  <div class="step-circle">
                    <div class="step-number">
                      3
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="step-name">
              รอการตรวจสอบ
            </div>
          </ion-col>
          <ion-col size-xl="2" size="3">
            <div class="cirle">
              <div class="content">
                <div class="step" [class.active]="step == 'step4'">
                  <div class="step-circle">
                    <div class="step-number">
                      4
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <div class="step-name">
              ดำเนินการเสร็จสิ้น
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <router-outlet></router-outlet>
  </div>
  <div [hidden]="!loading" class="fullpage loadscreen">
    <ion-spinner name="dots"></ion-spinner>
  </div>
</ion-content>
