.fullpage {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}
.loadscreen{
    display: flex;
    align-items: center;
    justify-content: center;
    ion-spinner{
        --color: var(--ion-color-primary);
    }
    ion-spinner {
        transform: scale(3);
    }
}
@media only screen and (max-width: 500px) {
    .cirle{
        width: 60% !important;
        padding-top: 60% !important;
    }
    .step-number{
        font-size: 1rem !important;
    }
    h2{
        font-size: 1rem !important;
        margin: 0;
    }
  }
.cirle{
    width: 35%;
    padding-top: 35%;
    position: relative;
    margin: auto;
    .content{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.step-container {
    // padding: 2rem 0;
    display: flex;
    justify-content: center;
    position: relative;
    ion-col{
        text-align: center;
    }
    .step-center {
        display: flex;
        justify-content: space-around;
        // width: 60%;
        position: relative;
    }

    .step-line {
        position: absolute;
        width: 70%;
        height: 3px;
        top: calc(50% - 0.8rem);
        left: 50%;
        transform: translate(-50%, -50%);
        background: var(--ion-color-primary);
        z-index: 1;
    }

    .step.active {
        .step-number {
            background: var(--ion-color-primary);
            color: white;
        }
    }

    .step {
        z-index: 2;
        width: 100%;
        height: 100%;
        text-align: center;
        position: relative;
        .step-circle {
            width: 100%;
            height: 100%;
            // height: 5rem;
            border: 2px solid var(--ion-color-primary);
            background: #ECF9F9;
            border-radius: 50%;
            position: relative;
            padding: 3px;
        }

        .step-number {
            // position: absolute;
            background: transparent;
            border-radius: 50%;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--ion-color-primary);
            font-size: 2rem;
            line-height: 0;
        }


    }
}
.step-name {
    color: var(--ion-color-primary);
}
.fullbox {
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #4e5d6540;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    // padding: 3rem 5rem;

    h1 {
        color: var(--ion-color-primary);
    }
}

.form {
    .input_error_message{
        font-size: small;
        display: inline-block;
        color: rgba(var(--ion-color-danger-rgb),0.7);
    }
    // padding: 0 3rem;
    .form_error {

        // background: red;
        ion-input {
            border: 1px solid rgba(var(--ion-color-danger-rgb), 0.7) !important;
            // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
        }

        .select-input {
            border: 1px solid rgba(var(--ion-color-danger-rgb), 0.7) !important;
            // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
        }
        .date-input {
            border: 1px solid rgba(var(--ion-color-danger-rgb), 0.7) !important;
            // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
        }
    }

    .form-input {

        ion-input {
            // transition: box-shadow 100ms ease-out;
            box-shadow: 2px 2px 5px #4e5d6540;
            border-radius: 1rem;
            color: gray;
            border: 1px solid transparent;
            padding-left: 8px !important;
        }

        ion-textarea {
            // transition: box-shadow 100ms ease-out;
            box-shadow: 2px 2px 5px #4e5d6540;
            border-radius: 1rem;
            color: gray;
        }

        .date-input {
            position: relative;
            background: white;
            box-shadow: 2px 2px 5px #4e5d6540;
            border: none;
            border-radius: 1rem;
            width: 100%;
            color: gray;
            border: 1px solid transparent;

            input {
                padding: 10px;
                background: transparent;
                width: 100%;
                border: none;
                min-height: 2.3rem;
            }
        }
        // .date-input:after {
        //     position: absolute;
        //     content: "";
        //     top: 50%;
        //     right: 20px;
        //     width: 0;
        //     height: 0;
        //     border: 6px solid transparent;
        //     border-color: gray transparent transparent transparent;
        // }


        .select-input {
            position: relative;
            background: white;
            box-shadow: 2px 2px 5px #4e5d6540;
            border: none;
            border-radius: 1rem;
            width: 100%;
            color: gray;
            border: 1px solid transparent;


            select {
                padding: 10px;
                background: transparent;
                width: 100%;
                border: none;
            }
        }

        .select-input:after {
            position: absolute;
            content: "";
            top: 50%;
            right: 20px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: gray transparent transparent transparent;
        }


    }

    .label-form {
        color: var(--ion-color-primary);
    }
    @media only screen and (min-width: 1200px){
        ion-col.space {
            padding: 0 2rem;
            width: 100% !important;
        }
        ion-row.space {
            margin-bottom: 2rem;
        }
    }



}

.btn-form {
    width: fit-content;

    .text-nav {
        display: flex;
        align-items: center;
        // font-size: 1.3rem;
        // margin: 0 10px;
    }

}

.border-box {
    box-shadow: 2px 2px 5px #4e5d6540;
    border-radius: 1rem;
    color: gray;
    border: 1px solid transparent;
}

#tel-input {
    overflow: hidden;
    --padding-start: 50px;
}

#tel-input::before {
    content: "+66";
    background: rgba(211, 211, 211, 0.342);
    height: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
}
.border-box.form_error{
    border: 1px solid rgba(var(--ion-color-danger-rgb),0.7) !important;
  }