.fullbox {
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #4e5d6540;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;


    h1 {
        margin: 0;
        color: var(--ion-color-primary);
    }
}

.fullpage {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.bank-warpper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-gap: 2rem;
    padding: 1rem 0;

    .bank-display {
        border: 1px solid var(--ion-color-primary);
        padding: 1rem;
        border-radius: 1rem;
        color: var(--ion-color-primary);
        width: 100%;
        display: flex;
    }

    .bank-icon {
        color: var(--ion-color-primary);
        font-size: 3rem;
        line-height: 0;
    }

    .bank-detial {
        padding-left: 10px;
    }
}

.btn-form {
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 1rem;
    }
}



.label-form {
    color: var(--ion-color-primary);
}

.border-box {
    box-shadow: 2px 2px 5px #4e5d6540;
    border-radius: 1rem;
    color: gray;
    padding: 1rem;
    border: 1px solid transparent;
}
.border-box.form_error{
    border: 1px solid rgba(var(--ion-color-danger-rgb),0.7) !important;
}
.form {
    .input_error_message{
        font-size: small;
        display: inline-block;
        color: rgba(var(--ion-color-danger-rgb),0.7);
    }
    // padding: 0 3rem;
    .form_error{
        // background: red;
        ion-input{
            border: 1px solid rgba(var(--ion-color-danger-rgb),0.7) !important;
            // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
        }
        .select-input{
            border: 1px solid rgba(var(--ion-color-danger-rgb),0.7) !important;
            // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
        }
    }

    .form-input {

        ion-input {
            border: 1px solid transparent;
            box-shadow: 2px 2px 5px #4e5d6540;
            border-radius: 1rem;
            color: gray;
            padding-left: 10px !important;
        }

        .select-input {
            border: 1px solid transparent;
            position: relative;
            background: white;
            box-shadow: 2px 2px 5px #4e5d6540;
            border-radius: 1rem;
            width: 100%;
            color: gray;

            select {
                padding: 10px;
                background: transparent;
                width: 100%;
                border: none;
            }
        }

        .select-input:after {
            position: absolute;
            content: "";
            top: 50%;
            right: 20px;
            width: 0;
            height: 0;
            border: 6px solid transparent;
            border-color: gray transparent transparent transparent;
        }


    }

    .label-form {
        color: var(--ion-color-primary);
        
    }

    @media only screen and (min-width: 1200px){
        ion-col.space {
            padding: 0 2rem;
            width: 100% !important;
        }
        ion-row.space {
            margin-bottom: 2rem;
        }
    }

}

.col-center {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.btn-form{
    width: fit-content;
    .text-nav{
        display: flex;
        align-items: center;
        font-size: 1.3rem;
        // margin: 0 10px;
    }

}
.bank-select{
    color: var(--ion-color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: fit-content;
    padding: 1rem 2rem ;
    margin: auto;
    ion-icon{
        font-size: 5rem;
    }
}
.preview{
    width: 100%;
    // height: 200px;
    overflow: hidden;
    opacity: 1;
    // padding:  0 2rem;
    text-align: center;
    
}
ion-button.upload{
    input{
        opacity: 0;
        background: cyan;
        height: 100%;
        position: absolute;
    }
}
.preview-image{
    
    width: 100%;
    height: 100%;
    position: relative;
    img{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}