<ion-content class="ion-padding">
  <div class="fullpage">
    <div class="fullbox ion-padding">
      <div style="margin-bottom: 2rem;border-bottom: 2px solid var(--ion-color-primary);padding-bottom: 20px;">
        <h1>
          เพิ่มบัญชีธนาคาร
        </h1>
      </div>
      <form [formGroup]="addBankForm" (ngSubmit)="submitForm()">
        <ion-grid class="form">
          <ion-row class="space">
            <ion-col class="space">
              <div class="form-input" [class.form_error]="(getFormControl.bank_name.touched || isSubmitted) && getFormControl.bank_name.errors?.required">
                <div class="label-form ">
                  *เลือกธนาคาร <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.bank_name.errors?.message}}</div>
                </div>
                <div class="select-input" >
                  <select formControlName="bank_name" class="native-input sc-ion-input-md">
                    <option class="placeholder" value="" disabled selected hidden>เลือกธนาคาร</option>
                    <option value="kbank">ธนาคารกสิกรไทย</option>
                    <option value="ktb">ธนาคารกรุงไทย</option>
                    <option value="scb">ธนาคารไทยพาณิชย์</option>
                  </select>
                </div>
              </div>
  
            </ion-col>
  
          </ion-row>
  
          <!-- <ion-row class="space">
            <ion-col class="space">
              <div class="border-box bank-select">
                <ion-icon src="assets/bank/kbank.svg"></ion-icon>
                กสิกรไทย
              </div>
            </ion-col>
            <ion-col class="space">
              <div class="border-box bank-select">
                <ion-icon src="assets/bank/ktb.svg"></ion-icon>
                กรุงไทย
              </div>
            </ion-col>
            <ion-col class="space">
              <div class="border-box bank-select">
                <ion-icon src="assets/bank/scb.svg"></ion-icon>
                ไทยพาณิชย์
              </div>
            </ion-col>
          </ion-row> -->
          <ion-row class="space">
            <ion-col size="12" size-xl="6" class="space">
              <div class="form-input" [class.form_error]="(getFormControl.account_number.touched || isSubmitted) && getFormControl.account_number.errors?.required">
                <div class="label-form">
                  *เลขบัญชี  <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.account_number.errors?.message}}</div>
                </div>
                <ion-input placeholder="เลขบัญชีธนาคาร" formControlName="account_number" type="text"></ion-input>
               
              </div>
            </ion-col>
            <ion-col size="12" size-xl="6" class="space">
              <div class="form-input"  [class.form_error]="(getFormControl.account_type.touched || isSubmitted) && getFormControl.account_type.errors?.required">
                <div class="label-form">
                  *ประเภทบัญชี <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.account_type.errors?.message}}</div>
                </div>
                <div class="select-input" >
                  <select formControlName="account_type" class="native-input sc-ion-input-md">
                    <option class="placeholder" value="" disabled selected hidden>เลือกประเภทบัญชี</option>
                    <option value="sda">ออมทรัพย์</option>
                    <option value="ca">กระแสรายวัน</option>
                  </select>
                </div>

              </div>
            </ion-col>
          </ion-row>
          <ion-row class="space">
            <ion-col size="12" size-xl="4" class="space">
              <div class="form-input"  [class.form_error]="(getFormControl.account_holder_firstname.touched || isSubmitted) && getFormControl.account_holder_firstname.errors?.required">
                <div class="label-form">
                  *ชื่อบัญชี <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.account_holder_firstname.errors?.message}}</div>
                </div>
                <ion-input formControlName="account_holder_firstname" type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col size="12" size-xl="4" class="space">
              <div class="form-input"  [class.form_error]="(getFormControl.account_holder_lastname.touched || isSubmitted) && getFormControl.account_holder_lastname.errors?.required">
                <div class="label-form">
                  *นามสกุล <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.account_holder_lastname.errors?.message}}</div>
                </div>
                <ion-input formControlName="account_holder_lastname"  type="text"></ion-input>
              </div>
            </ion-col>
            <ion-col size="12" size-xl="4" class="space">
              <div class="form-input"  [class.form_error]="(getFormControl.account_branch.touched || isSubmitted) && getFormControl.account_branch.errors?.required">
                <div class="label-form">
                  *สาขา <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.account_branch.errors?.message}}</div>
                </div>
                <ion-input formControlName="account_branch" type="text"></ion-input>
              </div>
            </ion-col>
          </ion-row>
          <ion-row class="space">
            <ion-col class="space">
              <div class="label-form">
                *รูปถ่ายหน้าสมุดบัญชีคู่กับบัตรประชาชน <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.image_book_and_id.errors?.message}}</div>
              </div>
              <div class="border-box"  [class.form_error]="(getFormControl.image_book_and_id.touched || isSubmitted) && getFormControl.image_book_and_id.errors?.required">
                <ion-row>
                  <ion-col>
                    <div class="preview">
                      <img src="assets/imgs/bank.png">
                    </div>
                  </ion-col>
                  <ion-col>
                    <div class="col-center" style="flex-direction: column;">
                      <div *ngIf="previewBase64" class="preview-image">
                        <img [src]="previewBase64">
                      </div>
                      <ion-button shape="round" class="btn-form upload">
                        <input (change)="file($event,'image_book_and_id')" type='file' accept="image/jpeg, image/png"/>
                        <div class="text-nav">เลือก
                        </div>
                      </ion-button>
                    </div>
  
                  </ion-col>
                </ion-row>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
        <!-- <div *ngIf="isSubmitted" class="input_error_message">{{getFormControl.errors?.message | json}}</div> -->
        <div style="text-align: center;width: 100%;display: flex;justify-content: center;">
          <ion-button [disabled]="loading" type="submit" shape="round" class="btn-form">
            <div *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>
            <div *ngIf="!loading"class="text-nav">เพิ่มบัญชีธนาคาร</div>
          </ion-button>
        </div>
      </form>


    </div>

  </div>

</ion-content>