.bg {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    .left-color {
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 0 50% 50% 0;
        width: 50%;
        height: 100%;
        background: var(--ion-color-gradient-primary-top);
    }

    @media only screen and (max-width: 540px) {

        .left-color {
            width: 95% !important;
        }
    }

}

#register {
    opacity: 0;
    animation: fadeIn 300ms ease-out 250ms forwards;
}

#login {
    opacity: 0;
    animation: fadeIn 300ms ease-out 250ms forwards;
}

.image {
    opacity: 0;
    animation: fadeIn 300ms ease-out 250ms forwards;
}

/* The animation code */
@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

ion-content {
    --background: #fff !important;
}

.expandable {
    transition: height 300ms ease-out;
    overflow: hidden;
}

@media only screen and (max-width: 540px) {
    .container {
        // height: 700px !important;
        // background: crimson;
        padding: 1rem !important;
        overflow-y: auto !important;
        justify-content: initial !important;
        .form{
            padding: 1rem 0 !important;
            overflow-y: auto !important;
        }
    }
    .expandable{
        // flex-direction: column !important;
        // max-height: 100% !important;
        // overflow-y: auto !important;
        // background: crimson !important;
    }
}

.container {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    // flex-direction: column;
    .form {
        display: flex;
        justify-content: center;
        width: 950px;
        border: 1px solid #a3a3a30c;
        box-shadow: 0px 3px 13px #0000002f;
        background: rgba(255, 255, 255, 0.192);
        padding: 4rem 0;
        border-radius: 2rem;
        text-align: center;
        overflow: visible;
        @media only screen and (max-width: 1140px) {
            .image{
                display: none;
            }
        }
        .image {
            width: 100%;
            height: 100%;
            
            // position: relative;
            #left-image {
                // width: 90000%;
                position: relative;
                width: 130%;
                right: 0;
                height: 100%;
            }

            @media only screen and (max-width: 540px) {
                #left-image {
                    display: none;
                }
            }

            img {
                position: absolute;
                left: -30%;
                bottom: -10%;
            }
        }


    }
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media only screen and (max-width: 540px) {
    .form-in {
        padding: 0 1rem !important;
    }
}

.form-in {

    width: 100%;
    margin: auto;
    padding: 0 4rem;

    ion-button.submit {
        height: 3rem;
        width: 100%;
        font-weight: bold;
        --background: var(--ion-color-gradient-primary);
        --box-shadow: 0px 3px 6px rgba(37, 131, 130, 0.514);
    }
}

.form-input {
    background: white;
    margin-bottom: 2rem;
    text-align: left;
    color: var(--ion-color-primary);
    padding: 5px 15px;
    border-radius: 1rem;
    box-shadow: 0px 3px 6px var(--ion-color-primary);
    display: flex;

    .icon-form {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5px 5px 5px 10px;
        font-size: 2rem;
    }
}

.space-line {
    width: 1px;
    padding: 10px 0;
    background: var(--ion-color-primary);
}

#register-text {
    color: rgb(56, 56, 56);
}

#btn-register {
    font-weight: bold;
    color: var(--ion-color-primary);
    cursor: pointer;
}

@media only screen and (max-width: 540px) {
    #btn-register {
        color: white;
    }
}

#btn-register:hover {
    opacity: 0.5;
}

/* The animation code */
@keyframes hight {
    from {
        max-height: 0;
    }

    to {
        max-height: 100px;
    }
}

.err_message {
    max-height: 0;
    padding-top: 10px;
    color: gray;
    animation: hight 300ms ease-out 0ms forwards;
}
ion-button{
    --background-activated: rgba(255, 255, 255, 0.363);
}
