<div class="bg">
    <div class="left-color">

    </div>
  </div>
  <ion-content class="ionic-content" [fullscreen]="true">

    <div class="container" style="flex-direction: column;justify-content: center;">
        <div style="width: 100%;display: flex;justify-content: center;">
          <div class="form expandable" #expandable>
            <ion-row *ngIf="true" class="ion-justify-content-center" style="width: 100%;position: relative;"> 
              <ion-col [hidden]="!sideImage" size="12" size-xl="6">
                <div  class="image">
                  <div id="left-image">
                    <img src="https://siammodintech.cloud/assets/img/home-slider-img-1.png">
                  </div>
                </div>
              </ion-col>
              <ion-col size="12" size-xl="6">
                <router-outlet></router-outlet>
              </ion-col>
            </ion-row>
          </div>
        </div>
        <div  slot="fixed" style="position:static;bottom: 0;text-align: center;">
          <small style="color: lightgray;">
            {{server}}
          </small>
        </div>
      </div>

  </ion-content>
