.fullbox {
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #4e5d6540;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    padding-left: var(--padding-start);
    padding-right: var(--padding-end);
    padding-top: calc(var(--padding-top) + var(--offset-top));
    padding-bottom: calc(var(--padding-bottom) + var(--keyboard-offset) + var(--offset-bottom));
    display: flex;
    flex-direction: column;
    h1 {
        margin: 0;
        color: var(--ion-color-primary);
    }
}

.fullpage {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}



.btn-form {
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 1rem;
    }
}

.loadspin{
    --color: var(--ion-color-primary);
    transform: scale(4);;
}
.centerPage{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.result{
    border: 1px solid var(--ion-color-primary);
    box-shadow: 3px 2px 8px #00000026;
    border-radius: 1rem;
    padding: 1rem 0;
}
.window-exam{
    width: 100%;
    ion-input{
        font-size: 3rem;
    }
}
.loadtext{
    margin-bottom: 10px;
    ion-spinner{
        --color: var(--ion-color-primary);
        transform: scale(1);
    }
    h1{
        margin: 0;
        margin-left: 20px;
    }

}
.form_error {

    // background: red;
    ion-input {
        border: 1px solid rgba(var(--ion-color-danger-rgb), 0.7) !important;
        // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
    }

    .select-input {
        border: 1px solid rgba(var(--ion-color-danger-rgb), 0.7) !important;
        // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
    }
    .date-input {
        border: 1px solid rgba(var(--ion-color-danger-rgb), 0.7) !important;
        // box-shadow: 2px 2px 5px rgba(var(--ion-color-danger-rgb),0.7) !important;
    }
}

.form-input {

    ion-input {
        // transition: box-shadow 100ms ease-out;
        box-shadow: 2px 2px 5px #4e5d6540;
        border-radius: 1rem;
        color: rgba(128, 128, 128, 0.212);
        border: 1px solid transparent;
    }

    ion-textarea {
        // transition: box-shadow 100ms ease-out;
        box-shadow: 2px 2px 5px #4e5d6540;
        border-radius: 1rem;
        color: gray;
    }

    .date-input {
        position: relative;
        background: white;
        box-shadow: 2px 2px 5px #4e5d6540;
        border: none;
        border-radius: 1rem;
        width: 100%;
        color: gray;
        border: 1px solid transparent;

        input {
            padding: 10px;
        }
    }
    // .date-input:after {
    //     position: absolute;
    //     content: "";
    //     top: 50%;
    //     right: 20px;
    //     width: 0;
    //     height: 0;
    //     border: 6px solid transparent;
    //     border-color: gray transparent transparent transparent;
    // }


    .select-input {
        position: relative;
        background: white;
        box-shadow: 2px 2px 5px #4e5d6540;
        border: none;
        border-radius: 1rem;
        width: 100%;
        color: gray;
        border: 1px solid transparent;

        select {
            padding: 10px;
        }
    }

    .select-input:after {
        position: absolute;
        content: "";
        top: 50%;
        right: 20px;
        width: 0;
        height: 0;
        border: 6px solid transparent;
        border-color: gray transparent transparent transparent;
    }


}