<ion-content class="ion-padding">
  <div  class="fullpage">
    <div  *ngIf="(state | async)?.watched" class="fullbox">
      <div style="margin-bottom: 2rem;border-bottom: 2px solid var(--ion-color-primary);padding-bottom: 20px;">
        <h1>
          Exam
        </h1>
      </div>
      <div *ngIf="question.length > 0" class="centerPage">
        <ion-col class="ion-padding" size="12" size-md="9" size-lg="8" size-xl="7" style="position: absolute;">
          <div *ngIf="!exam_end" class="window-exam">
            <div class="label-form">
              <h1>{{question[active_clause]?.q}}</h1>
            </div>
            <div class="form-input" [class.form_error]="inputerr">
              <ion-input [(ngModel)]="answer" placeholder="พิมพ์คำตอบ" type="text"></ion-input>
            </div>
            <div style="width: 100%;display: flex;justify-content: flex-end;margin-top: 1rem;">
              <div style="text-align: center;width: 30%;display: flex;justify-content: center;">
                <ion-button (click)="next_clause()" type="submit" shape="round" class="btn-form">
                  <div class="text-nav">ต่อไป</div>
                </ion-button>
              </div>
            </div>

          </div>
          <div *ngIf="exam_end && !show_point" class="window-exam">
            <div style="display: flex;align-items: center;" class="loadtext">
              <div>
                <ion-spinner class="loadspin" name="dots"></ion-spinner>
              </div>
              <h1>กำลังประมวลผลสอบของคุณ</h1>
            </div>

            <ion-progress-bar [value]="process_exam"></ion-progress-bar>
          </div>
          <div *ngIf="show_point" class="window-exam result"
            style="justify-content: center;display: flex;flex-direction: column;align-items: center;">
            <div *ngIf="err" style="justify-content: center;display: flex;flex-direction: column;align-items: center;">
              <h1 style="font-size: 4rem;">ผิดพลาด</h1>
              <h1>ขออภัยระบบผิดพลาด</h1>
              <p *ngIf="result.wrongs.length > 0">{{err}}</p>
              <div style="width: 50%;">
                <ion-button (click)="close()" type="submit" shape="round" class="btn-form">
                  <div class="text-nav">ปิด</div>
                </ion-button>
              </div>
            </div>
            <div *ngIf="!err" style="justify-content: center;display: flex;flex-direction: column;align-items: center;">
              <h1 style="font-size: 4rem;">{{result.sum}}</h1>
              <h1>ผลการสอบของคุณ <span style="font-size: larger;">{{result.text}}</span></h1>
              <p *ngIf="result.wrongs.length > 0">คุณผิดข้อ {{result.wrongs}}</p>
              <div style="width: 50%;">
                <ion-button (click)="close()" type="submit" shape="round" class="btn-form">
                  <div class="text-nav">ปิด</div>
                </ion-button>
              </div>
            </div>
          </div>
        </ion-col>

      </div>
      <div *ngIf="!(question.length > 0)" class="centerPage">
        <ion-spinner class="loadspin" name="dots"></ion-spinner>
      </div>
    </div>
  </div>

</ion-content>