 <div style="width: 100%;height: 100%;">

  <div id="register" class="form-in">
    <div style="margin-bottom: 2rem;">
      <h2>
        Register
      </h2>
      <h5 style="color: rgb(165, 165, 165);">
 
        กรุณากรอกข้อมูลให้ครบเพื่อสมัครเป็นสมาชิก
      </h5>
 
    </div>
    <form [formGroup]="registerForm" (ngSubmit)="onFormSubmit()">
      <div class="form-input">
        <div class="icon-form" style="padding-left: 5px;">
          <ion-icon src="assets/svg/phone2.svg"></ion-icon>
        </div>
        <ion-input maxlength="9" formControlName="uid" placeholder="UID Dotcloud App"></ion-input>
      </div>
      <div class="form-input">
        <div class="icon-form" style="font-size: 1.3rem;">
          <ion-icon src="assets/svg/user.svg"></ion-icon>
        </div>
        <ion-input formControlName="name" placeholder="ชื่อ - นามสกุล"></ion-input>
      </div>
      <div class="form-input">
        <div class="icon-form" style="font-size: 1.3rem;">
          <ion-icon src="assets/svg/phone.svg"></ion-icon>
        </div>
        <span style="padding: 5px 5px 5px 5px;" class="flex-center">+66</span>
        <div style="padding: 0 5px;" class="flex-center">
          <div class="space-line"></div>
        </div>
   
        <ion-input formControlName="tel" type="number" placeholder="เบอร์โทรศัพท์"></ion-input>
      </div>
   
      <div class="form-input">
        <div class="icon-form" style="font-size: 1.6rem;">
          <ion-icon src="assets/svg/lock.svg"></ion-icon>
        </div>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </div>
      <div class="form-input">
        <div class="icon-form" style="font-size: 1.6rem;">
          <ion-icon src="assets/svg/correct.svg"></ion-icon>
        </div>
        <ion-input formControlName="confirm_password" type="password" placeholder="Confirm Password"></ion-input>
      </div>

      <div style="width: 70%;margin: auto;">
        <ion-button [disabled]="loading" shape="round" type="submit" class="submit">
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          <div *ngIf="!loading">Register</div>
        </ion-button>
      </div>
      <div [hidden]="!err_message" class="err_message">
        <ion-icon name="alert-circle-outline"></ion-icon> {{err_message}}
      </div>
    </form>

    <div style="padding: 2rem;" id="register-text">
      Already have an account? <span (click)="toggleHelpMenu()" id="btn-register">Login</span>
    </div>
  </div>
</div>
