
  <div class="form-in" id="login">
    <div style="margin-bottom: 2rem;">
      <h2>
        Login
      </h2>
      <h5 style="color: rgb(165, 165, 165);">
        กรุณากรอกข้อมูลเพื่อเข้าสู่ระบบ
      </h5>
    </div>
    <form [formGroup]="loginForm" (ngSubmit)="onFormSubmit()">
      <div class="form-input">
        <div class="icon-form" style="font-size: 1.4rem;">
          <ion-icon src="assets/svg/phone.svg"></ion-icon>
        </div>
        <span style="padding: 5px 5px 5px 10px;" class="flex-center">+66</span>
        <div style="padding: 0 5px;" class="flex-center">
          <div class="space-line"></div>
        </div>
    
        <ion-input formControlName="tel" type="tel" placeholder="เบอร์โทรศัพท์"></ion-input>
      </div>
      <div class="form-input">
        <div class="icon-form">
          <ion-icon src="assets/svg/keys.svg"></ion-icon>
        </div>
        <ion-input formControlName="password" type="password" placeholder="Password"></ion-input>
      </div>
    
      <div style="width: 70%;margin: auto;">
        <ion-button [disabled]="loading" shape="round" type="submit" class="submit">
          <ion-spinner *ngIf="loading" name="dots"></ion-spinner>
          <div *ngIf="!loading">Login</div>
        </ion-button>
      </div>
      <div [hidden]="!err_message" class="err_message">
        <ion-icon name="alert-circle-outline"></ion-icon> {{err_message}}
      </div>
    </form>

    <div style="padding: 2rem;" id="register-text">
      Don't have an account? <span (click)="toggleHelpMenu()" id="btn-register">Register</span>
    </div>
  </div>
