.form {
    display: flex;

    width: 950px;
    border: 1px solid #a3a3a30c;
    box-shadow: 0px 3px 13px #0000002f;
    background: rgba(255, 255, 255, 0.192);
    padding: 4rem 0;
    border-radius: 2rem;
    text-align: center;
    overflow: visible;

    .image {
        width: 50%;
        position: relative;

        #left-image {
            // width: 90000%;
            position: relative;
            width: 130%;
            right: 0;
            height: 100%;
        }

        img {
            position: absolute;
            left: -30%;
            bottom: -10%;
        }
    }

    .form-in {

        width: 50%;
        margin: auto;
        padding: 0 4rem;

        ion-button.submit {
            height: 3rem;
            width: 100%;
            font-weight: bold;
            --background: var(--ion-color-gradient-primary);
            --box-shadow: 0px 3px 6px rgba(37, 131, 130, 0.514);
        }
    }

    .form-input {
        background: white;
        margin-bottom: 2rem;
        text-align: left;
        color: var(--ion-color-primary);
        padding: 5px 15px;
        border-radius: 1rem;
        box-shadow: 0px 3px 6px var(--ion-color-primary);
        display: flex;

        .icon-form {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 5px 5px 5px 10px;
            font-size: 2rem;
        }
    }

    .space-line {
        width: 1px;
        padding: 10px 0;
        background: var(--ion-color-primary);
    }

    #register-text {
        color: rgb(56, 56, 56);
    }

    #btn-register {
        font-weight: bold;
        color: var(--ion-color-primary);
        cursor: pointer;
    }

    #btn-register:hover {
        opacity: 0.5;
    }
}