:host {
  height: 100%;
  position: relative;
}

.check_warpper {
  ion-icon {
    font-size: 10rem;
    line-height: 0;
  }
}

.center-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: var(--ion-color-primary);
}

.fullbox {
  display: flex;
  flex-direction: column;
}

.reason {
  border-radius: 1rem;
  border: 1px solid var(--ion-color-primary);
  padding: 1rem;
  text-align: left;

  p {
    margin: 0;
  }
}

