<div class="fullbox ion-padding">
  <div>
    <h1>
      3. รอการตรวจสอบ
    </h1>
  </div>
  <div class="center-container">
   
    <div [hidden]="(state | async)?.state != 'reviewing'" id="processing" style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <div class="check_warpper">
        <ion-icon src="assets/svg/stopwatch.svg"></ion-icon>
      </div>
      <div style="text-align: center;">
        <h2>
          ยินดีด้วยบัญชีของคุณจะได้รับการตรวจสอบภายใน 24 ชั่วโมง
        </h2>
        <h2>
          ระหว่างนี้เราแนะนำให้คุณกรอกบัญชีธนาคารได้เลยคะ
        </h2>
      </div>
      <ion-button (click)="openBank()" shape="round" class="btn-form">
        <div class="text-nav">เพื่มบัญชีธนาคาร
        </div>
      </ion-button>
    </div>

    <div [hidden]="(state | async)?.state != 'reject'" id="error" style="display: flex;justify-content: center;flex-direction: column;align-items: center;">
      <div class="check_warpper">
        <ion-icon src="assets/svg/cross.svg"></ion-icon>
      </div>
      <div style="text-align: center;">
        <h2>
          ข้อมูลของคุณไม่ผ่านการตรวจสอบ
        </h2>
        <h2>
          เนื่องจากเหตุผลดังนี้ กรุณาทำการส่งข้อมูลเข้ามาใหม่
        </h2>
        <div [innerHTML]="(state | async)?.reason" class="reason">

        </div>
      </div>
      <ion-button (click)="new()" shape="round" class="btn-form">
        <div class="text-nav">
          ส่งข้อมูลใหม่
        </div>
      </ion-button>
    </div>

  </div>

</div>