@media only screen and (min-width: 992px) {
  .mobile-menu{
    display: none;
  }
}
.mobile-menu{
  

  animation: fadeIn 200ms ease-in-out 50ms forwards;
  ion-fab-button{
    --background: #ef5c53 !important;
  }
}
@keyframes fadeIn {
  from {
      opacity: 0;
  }

  to {
    opacity: 1;
  }
}
ion-menu ion-content {
  --background: var(--ion-item-background, var(--ion-background-color, #fff));
  
}
.logout-btn{
  --background: #C5F0FF;
  color: var(--ion-color-primary);
  font-weight: bold;
  width: fit-content;
  --box-shadow: 0px 3px 6px rgba(37, 131, 130, 0.514);
}
.footer-color{
  --background: #C5F0FF;
  ion-img{
    width: 3rem;
    cursor: pointer;
  }
}
.nohilight{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
     -moz-user-select: none; /* Old versions of Firefox */
      -ms-user-select: none; /* Internet Explorer/Edge */
          user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Opera and Firefox */
}
.sub-menu{
  cursor: pointer;
  color: var(--ion-color-primary);
  padding: 5px 5px 5px 10px;
  margin-left: calc(3rem );
  border-left: 1px solid rgba(var(--ion-color-primary-rgb),0.5)
}
.sub-menu:hover{
  border-left: 1px solid  var(--ion-color-primary-shade);
  color: var(--ion-color-primary-shade) !important;
  
}
.menu-master.selected{
  color: var(--ion-color-primary-shade) !important;
  background: rgba(207, 245, 255, 0.425);
  border-radius: 1rem;
}
.sub-menu.selected{
  color: var(--ion-color-primary-shade) !important;
  border-left: 1px solid  var(--ion-color-primary-shade);
  background: rgba(207, 245, 255, 0.425);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}
.menu-master{
  
  .more{
    padding: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
  }
  .more ion-icon{
    transition: all 200ms ease-out;
  }
  .expand{
    background: whitesmoke;
    ion-icon{
      transform: rotate(90deg);
    }
    
  }
  .more:hover{
    background: whitesmoke;
  }
  .menu-title{
    display: flex;
    align-items: center;
  }
  .menu-title:hover{
  
    color: var(--ion-color-primary-shade) !important;
    // background: rgba(161, 180, 184, 0.418);
  }.title:active{
    color: var(--ion-color-primary);
    opacity: 0.6;
    
  }
  color: var(--ion-color-primary);
  padding: 5px 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  ion-icon.menu-icon{
    font-size: 2rem;
    padding-right: 10px;
  }
  outline: none;
  transition: all 100ms ease-out;
}

ion-menu.md ion-content {
  --padding-start: 8px;
  --padding-end: 8px;
  --padding-top: 20px;
  --padding-bottom: 20px;
}

ion-menu.md ion-list {
  padding: 20px 0;
  
}
ion-menu.md ion-item {
  --color-hover: var(--ion-color-primary);
}
ion-menu.md ion-note {
  margin-bottom: 30px;
}

ion-menu.md ion-list-header,
ion-menu.md ion-note {
  padding-left: 10px;
}

// ion-menu.md ion-list#inbox-list {
//   border-bottom: 1px solid var(--ion-color-step-150, #d7d8da);
// }

ion-menu.md ion-list#inbox-list ion-list-header {
  font-size: 22px;
  font-weight: 600;

  min-height: 20px;
}

ion-menu.md ion-list#labels-list ion-list-header {
  font-size: 16px;

  margin-bottom: 18px;

  // color: #757575;

  min-height: 26px;
}

ion-menu.md ion-item {
  --padding-start: 10px;
  --padding-end: 10px;
  border-radius: 4px;
  color: var(--ion-color-primary) !important;
}

ion-menu.md ion-item.selected {
  --background: rgba(var(--ion-color-primary-rgb), 0.14);
}

ion-menu.md ion-item.selected ion-icon {
  // color: var(--ion-color-primary);
}

ion-menu.md ion-item ion-icon {
  color: #3EC7F5;
  margin-right: 10px;
}

ion-menu.md ion-item ion-label {
  font-weight: 500;
  
}

ion-menu.ios ion-content {
  --padding-bottom: 20px;
}

ion-menu.ios ion-list {
  padding: 20px 0 0 0;
}

ion-menu.ios ion-note {
  line-height: 24px;
  margin-bottom: 20px;
}

ion-menu.ios ion-item {
  --padding-start: 16px;
  --padding-end: 16px;
  --min-height: 50px;

}

ion-menu.ios ion-item.selected ion-icon {
  color: var(--ion-color-primary);
}

ion-menu.ios ion-item ion-icon {
  font-size: 24px;
  color: #73849a;
}

ion-menu.ios ion-list#labels-list ion-list-header {
  margin-bottom: 8px;
}

ion-menu.ios ion-list-header,
ion-menu.ios ion-note {
  padding-left: 16px;
  padding-right: 16px;
}

ion-menu.ios ion-note {
  margin-bottom: 8px;
}

ion-note {
  display: inline-block;
  font-size: 16px;

  color: var(--ion-color-medium-shade);
}

ion-item.selected {
  --color: var(--ion-color-primary);
}
ion-split-pane{
  --side-max-width: 16%;
  --border: none;
}
.user-avatar-container{
  padding: 1rem;
  text-align: center;
  color: var(--ion-color-primary);
  font-size: 4rem;
  .user-avatar{
    line-height: 0;
  }
}
@media only screen and (min-width: 992px) {
  .user-avatar-container{
    padding: 1rem 2rem;
  }
  .user-avatar{
    background: #C5F0FF;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    font-size: 5rem;

  }
}