<ion-app>
  <ion-split-pane contentId="main-content">
    <ion-menu maxEdgeStart="0" contentId="main-content" type="overlay">
      <ion-content>
        
        <div style="display: flex;flex-direction: column;justify-content: space-between;height: 100%;">
          
          <ion-list id="inbox-list">
           
            <div class="user-avatar-container">
              <div class="user-avatar">
                <ion-icon name="person-circle"></ion-icon>
              </div>
              <h3>
                {{user.userData?.displayName}}
              </h3>
              <!-- <ion-button shape="round" fill="outline">ข้อมูลส่วนตัว</ion-button> -->
            </div>

            <div class="nohilight" auto-hide="false" *ngFor="let p of appPages; let i = index">
              <div class="menu-master" [class.selected]="selectedIndex == p.url">
                <div class="menu-title" (click)="openSubmenu(i)">
                  <ion-icon class="menu-icon" slot="start" [name]="p.icon" [src]="p.icon"></ion-icon>
                  <ion-label>{{ p.title }}</ion-label>
                </div>
                <div *ngIf="p.sub_menu" (click)="openSubmenu(i)" class="more" [class.expand]="p.isOpen">
                  <ion-icon  name="chevron-forward-outline"></ion-icon>
                </div>
              </div>
              <div class="sub-menu" [class.selected]="selectedIndex == sub.url" (click)="LinkSubmenu(sub.url)" [hidden]="!p.isOpen" *ngFor="let sub of p.sub_menu; let i = index">
                {{sub.title}}
              </div>
            </div>
          </ion-list>

          <div style="padding: 0 1rem;display: flex;justify-content: center;flex-direction: column;align-items: center;">
            <ion-button (click)="logout()" shape="round" class="logout-btn">
              <ion-icon style="transform: scaleX(-1);" name="log-out-outline"></ion-icon>
              <div style="padding-left: 10px;"> ออกจากระบบ</div>
            </ion-button>
            <small style="opacity: 0.1;margin: auto;font-size: 50%;padding-top: 10px;">{{server}}</small>
          </div>
        </div>


      </ion-content>
      <ion-footer class="ion-no-border">
        <ion-toolbar class="footer-color">
          <div style="display: flex;justify-content: space-evenly;">
            <!-- <img src="../assets/logo/storage.png.png" alt=""> -->
            <a href="https://storagecityplatform.com/" target="_blank">
              <ion-img src="assets/logo/storage.png"></ion-img>
            </a>
            <a href="https://siammodintech.cloud/" target="_blank">
              <ion-img src="assets/logo/logo siammodintech.png"></ion-img>
            </a>


          </div>
         
        </ion-toolbar>
      </ion-footer>
    </ion-menu>
    <ion-router-outlet id="main-content"></ion-router-outlet>
  </ion-split-pane>
  <ion-fab *ngIf="selectedIndex != '/usr'" class="mobile-menu" vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="openMenu()">
      <ion-icon name="menu-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-app>