<div class="fullbox ion-padding">
  <div style="margin-bottom: 2rem;">
    <h1>
      2. ข้อมูลตัวตน
    </h1>
  </div>

  <div class="form">
    <form [formGroup]="step2Form">
      <ion-row class="space">
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input" [class.form_error]="(getFormControl.pid_front.touched || submitted) && getFormControl.pid_front.errors?.required">
            <div class="label-form">
              เลขบัตรประชาชน
            </div>
            <ion-input  formControlName="pid_front" type="text"></ion-input>
          </div>
        </ion-col>
        <ion-col size="12" size-xl="6" class="space">
          <div class="form-input" [class.form_error]="(getFormControl.pid_back.touched || submitted) && getFormControl.pid_back.errors?.required">
            <div class="label-form">
              เลขหลังบัตรประชาน
            </div>
            <ion-input  formControlName="pid_back" type="text"></ion-input>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="space">

        <ion-col class="space">

          <div class="label-form">
            ภาพถ่ายบัตรประชาชน (ด้านหน้า)
          </div>
          <div class="border-box" [class.form_error]="(getFormControl.image_front_pid.touched || submitted) && getFormControl.image_front_pid.errors?.required">
            <ion-row>
              <ion-col>
                <div class="preview">
                  <img src="assets/imgs/idfront.png">
                </div>
              </ion-col>
              <ion-col >
                <div class="col-center" style="flex-direction: column;">
                  <div *ngIf="previewBase64['image_front_pid']" class="preview-image">
                    <img [src]="previewBase64['image_front_pid']">
                  </div>
                  <ion-button shape="round" class="btn-form upload">
                    <input (change)="file($event,'image_front_pid')" type='file' accept="image/jpeg, image/png"/>
                    <div class="text-nav">เลือก
                    </div>
                  </ion-button>
                </div>

              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="space">

        <ion-col class="space">
          <div class="label-form">
            ภาพถ่ายบัตรประชาชน (ด้านหลัง)
          </div>
          <div class="border-box" [class.form_error]="(getFormControl.image_back_pid.touched || submitted) && getFormControl.image_back_pid.errors?.required">
            <ion-row>
              <ion-col>
                <div class="preview">
                  <img src="assets/imgs/idback.png">
                </div>
              </ion-col>
              <ion-col >
                <div class="col-center" style="flex-direction: column;">
                  <div *ngIf="previewBase64['image_back_pid']" class="preview-image">
                    <img [src]="previewBase64['image_back_pid']">
                  </div>
                  <ion-button shape="round" class="btn-form upload">
                    <input (change)="file($event,'image_back_pid')" type='file' accept="image/jpeg, image/png"/>
                    <div class="text-nav">เลือก
                    </div>
                  </ion-button>
                </div>

              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>
      <ion-row class="space">

        <ion-col class="space">
          <div class="label-form">
            ภาพถ่ายที่คุณถือบัตรประชาชน
          </div>
          <div class="border-box" [class.form_error]="(getFormControl.image_hold_pid.touched || submitted) && getFormControl.image_hold_pid.errors?.required">
            <ion-row>
              <ion-col>
                <div class="preview">
                  <img src="assets/imgs/profile.png">
                </div>
              </ion-col>
              <ion-col >
                <div class="col-center" style="flex-direction: column;">
                  <div *ngIf="previewBase64['image_hold_pid']" class="preview-image">
                    <img [src]="previewBase64['image_hold_pid']">
                  </div>
                  <ion-button shape="round" class="btn-form upload">
                    <input (change)="file($event,'image_hold_pid')" type='file' accept="image/jpeg, image/png"/>
                    <div class="text-nav">เลือก
                    </div>
                  </ion-button>
                </div>

              </ion-col>
            </ion-row>
          </div>
        </ion-col>
      </ion-row>

      <div style="text-align: center;width: 100%;">
        <ion-button (click)="back()" [disabled]="loading" shape="round" class="btn-form">
          <ion-icon style="margin-right: 20px;" name="chevron-back-circle-outline"></ion-icon>
          <div class="text-nav">ย้อนกลับ </div>
        </ion-button>
        <ion-button  (click)="onSubmit()" [disabled]="loading" type="submit" shape="round" class="btn-form">
          <div *ngIf="loading"><ion-spinner name="dots"></ion-spinner></div>
          <div *ngIf="!loading" class="text-nav">ยืนยันข้อมูล <ion-icon style="margin-left: 20px;" name="chevron-forward-circle-outline">
            </ion-icon>
          </div>
        </ion-button>
      </div>
    </form>
  </div>


</div>