:host{
    height: 100%;
    position: relative;
}
.preview{
    width: 100%;
    // height: 200px;
    border-radius: 1rem;
    overflow: hidden;
    opacity: 1;
    // padding:  0 2rem;
    text-align: center;
    // border: 1px solid var(--ion-color-primary);
}

.col-center{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

ion-button.upload{
    input{
        opacity: 0;
        background: cyan;
        height: 100%;
        position: absolute;
    }
}
.preview-image{
    
    width: 100%;
    height: 100%;
    position: relative;
    img{
        top: 0;
        left: 0;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}
