<ion-content>
  <div class="fullpage ion-padding">
    <!-- Alert section -->
    <div *ngIf="(kyc | async)?.state == ''" class="alert-news" style="position: relative;">
      <div style="position: relative;">
        <ion-grid>
          <ion-row class="ion-justify-content-between">
            <ion-col class="ion-align-self-center" size="auto">
              <div style="display: flex;align-items: center;">
                <div class="alert-icon">
                  <ion-icon name="alert-circle"></ion-icon>
                </div>
                <h4 class="ion-no-margin">กรุณายืนยันตัวตนเพื่อการลงทะเบียนเสร็จสมบูรณ์ </h4>
              </div>
            </ion-col>
            <ion-col class="ion-align-self-center" size-xl="2" size-lg="3" size-md="3">
              <div class="navigation">
                <ion-button (click)="Movekyc()" color="danger" shape="round" class="btn">ยืนยันตัวตน<span
                    style="margin-left: 1rem;">
                    <ion-icon name="chevron-forward-circle"></ion-icon>
                  </span></ion-button>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>


    </div>
    <!-- End alert section -->

    <div class="title">
      <div class="icon-title">
        <ion-icon src="assets/svg/income.svg"></ion-icon>
      </div>
      <div class="line">

      </div>
      <div class="text">

        <h3>
          Total Income
        </h3>
        <div class="sub-title">
          รายได้ทั้งหมด
        </div>
      </div>
    </div>
    <div class="contract-container">
      <ion-row>
        <ion-col>
          <div class="contract-box box ion-padding">
            <div class="content">
              <h3 class="ion-text-nowrap">
                <span [countUp]="(dash_data | async)?.all_contract_income" [options]="myOpts"></span>
                บาท
              </h3>
              <div class="ion-text-nowrap">
                รายได้จากการดิวส์ทั้งหมด
              </div>
            </div>
            <div class="c-icon">
              <ion-icon src="assets/svg/money.svg"></ion-icon>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="contract-box box ion-padding">
            <div class="content">
              <h3 class="ion-text-nowrap">
                <span [countUp]="(commit_data | async)?.commit_price"></span> บาท
              </h3>
              <div class="ion-text-nowrap">
                รายได้จากค่าคอมมิชชั่นทั้งหมด
              </div>
            </div>
            <div class="c-icon">
              <ion-icon src="assets/svg/teamwork.svg"></ion-icon>
            </div>
          </div>
        </ion-col>
        <ion-col>
          <div class="contract-box box ion-padding">
            <div class="content">
              <h3 class="ion-text-nowrap">
                <span [countUp]="(sum_income | async)" [options]="myOpts"></span> บาท
              </h3>
              <div class="ion-text-nowrap">
                รายได้ทั้งหมด
              </div>
            </div>
            <div class="c-icon">
              <ion-icon src="assets/svg/revenue.svg"></ion-icon>
            </div>
          </div>
        </ion-col>
      </ion-row>



    </div>
    <div class="dash2">
      <ion-row style="position: absolute;height: 100%;width: 100%;">
        <ion-col size="12" size-md="12" size-lg="12" size-xl="8">
          <div style="display: flex;flex-direction: column;height: 100%;">
            <div class="title">
              <div class="icon-title">
                <ion-icon src="assets/svg/income.svg"></ion-icon>
              </div>
              <div class="line">

              </div>
              <div class="text">

                <h3>
                  รายได้และเป้าหมาย
                </h3>
                <div class="sub-title ion-text-nowrap">
                  กราฟยอดเงินรายได้และเป้าหมาย
                </div>
              </div>
            </div>
            <div class="box ion-padding">
              <div class="graph">
                <canvas #imageCanvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
                  [colors]="chartColors" [legend]="showLegend" [chartType]="chartType">
                </canvas>
              </div>
            </div>
          </div>


        </ion-col>
        <ion-col size="12" size-md="12" size-lg="12" size-xl="4">
          <div style="display: flex;flex-direction: column;height: 100%;">
            <div class="title">
              <div class="icon-title">
                <ion-icon src="assets/svg/income.svg"></ion-icon>
              </div>
              <div class="line">

              </div>
              <div class="text">

                <h3>
                  ดิวส์และบล็อกของฉัน
                </h3>
                <div class="sub-title ion-text-nowrap">
                  รูปแบบสัญญา 365 วัน และจำนวนบล็อก
                </div>
              </div>
            </div>
            <div class="box ion-padding">
              <div class="pc-scroll no-scrollbar">
                <div class="pc-sub-scroll">
                  <div class="contract-item ion-padding" *ngFor="let block of (dash_data | async)?.contract">
                    <!--  -->
                    <div class="content">
                      <div class="contract-in-icon">
                        <ion-img src="assets/logo/cloudapp.png"></ion-img>
                      </div>
                      <div>
                        <div>
                          {{block.blocks}} บล็อก
                        </div>
                        <div>
                          เหลือ {{ block.days_left}} วัน
                        </div>
                      </div>
                    </div>
                    <div class="duration-bar">
                      <div [ngStyle]="{'width.%': (block.days_left/365) * 100}" [class.display]="!display"
                        class="process"></div>
                    </div>
                    <div class="status">
                      {{block.days_left}} วัน
                    </div>
                  </div>
                </div>

              </div>

            </div>
          </div>

        </ion-col>
      </ion-row>

    </div>
  </div>

</ion-content>

<!-- <div class="grid">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="12" size-lg="12" size-xl="8" style="display: flex;flex-direction: column;">
        <div style="background:limegreen;min-height: 100%;">
        </div>
        <div class="title" style="margin-bottom: 20px;">
          <div class="icon-title">
            <ion-icon src="assets/svg/income.svg"></ion-icon>
          </div>
          <div class="line">

          </div>
          <div class="text">

            <h3>
              รายได้และเป้าหมาย
            </h3>
            <div class="sub-title ion-text-nowrap">
              กราฟยอดเงินรายได้และเป้าหมาย
            </div>
          </div>
        </div>
        <div class="box ion-padding">
          <div style="width: 100%;height: 100%;margin: auto;display: flex;align-items: center;">
            <canvas #imageCanvas baseChart [datasets]="chartData" [labels]="chartLabels" [options]="chartOptions"
              [colors]="chartColors" [legend]="showLegend" [chartType]="chartType">
            </canvas>
          </div>

        </div>
      </ion-col>
      <ion-col size="12" size-md="12" size-lg="12" size-xl="4" style="display: flex;flex-direction: column;" class="scroll-block-mobile">
        <div style="background:rgb(205, 50, 50);min-height: 100%;">
        </div>
        <div class="title" style="margin-bottom: 20px;">
          <div class="icon-title">
            <ion-icon src="assets/svg/income.svg"></ion-icon>
          </div>
          <div class="line">

          </div>
          <div class="text">

            <h3>
              ดิวส์และบล็อกของฉัน
            </h3>
            <div class="sub-title ion-text-nowrap">
              รูปแบบสัญญา 365 วัน และจำนวนบล็อก
            </div>
          </div>
        </div>
        <div class="box ion-padding contract">
          <div class="no-scrollbar" style="position: relative;width: 100%;height: 100%;overflow-y: auto;overflow-x: visible;">
            <div  style="position: absolute;width: 100%;">
              <div class="contract-item ion-padding" *ngFor="let block of (dash_data | async)?.contract">
                <div class="content">
                  <div class="contract-in-icon">
                    <ion-img src="assets/logo/cloudapp.png"></ion-img>
                  </div>
                  <div>
                    <div>
                      {{block.blocks}} บล็อก
                    </div>
                    <div>
                      เหลือ {{ block.days_left}} วัน
                    </div>
                  </div>
                </div>
                <div class="duration-bar">
                  <div [ngStyle]="{'width.%': (block.days_left/365) * 100}" [class.display]="!display" class="process"></div>
                </div>
                <div class="status">
                  {{block.days_left}} วัน
                </div>
              </div>
            </div>

          </div>

        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
</div> -->