.navigation {
    display: flex;
    justify-content: flex-end;

    .btn {

        --padding-left: 1rem;

        ion-icon {
            font-size: 1.4rem;
        }
    }
}
.alert-news {
    border: 1px solid var(--ion-color-danger);
    border-radius: 2rem;
    background: white;
    color: gray;
    // display: flex;
    // align-items: center;
    // justify-content: space-between;

    .alert-icon {
      display: flex;
      align-items: center;
      margin-right: 1rem;
      font-size: 3rem;
      color: var(--ion-color-danger);
      line-height: 1;
    }
    
  }
.title {
    min-height: fit-content;
    display: flex;
    color: var(--ion-color-primary);
    margin: 15px 0;
    .icon-title {
        font-size: 2.5rem;
        display: flex;
        align-items: center;
    }

    .line {
        background: black;
        border-left: 1px solid black;
        content: '' !important;
        // height: 90%;
        margin: 8px;
    }

    .text {
        h3 {
            margin: 0;

        }

        .sub-title {
            color: gray;
        }
    }
}

.contract-container {
    .contract-box {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .content {
            h3 {
                margin: 0;
            }
        }

        .c-icon {
            line-height: 0;
            font-size: 4rem;
            padding-left: 2rem;
        }
    }
}

.box {
    background: white;
    // padding: 1rem;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #4e5d6540;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}



@media only screen and (max-width: 540px) {
    .dash2{
        display: block !important;
        height: 100vh !important;
        .box {
            height: fit-content !important;  
        }
        .contract{
            height: fit-content !important;
        }
        .no-scrollbar{
            overflow-y: initial !important;
        }
        ion-grid{
            height: auto !important;
        }
        ion-row{
            height: fit-content !important;
        }
    }
}
@media only screen and (min-width: 1200px) {
    .pc-scroll{
        position: relative;
        height: 100%;
        overflow-y: auto;
        .pc-sub-scroll{
            width: 100%;
            position: absolute;
        }
    }
}

.dash2 {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    .graph{
        margin: auto;
    }
    .box {
        height: 100%;
    }

    .grid {
        
        height: 100%;

        ion-grid{
            height: 100%;
        }
        ion-row{
            height: 100%;
        }

        .col {
            height: 100%;
            display: flex;
            flex-direction: column;
            padding: 10px;
        }
    }

    background: #00000000;

    .contract-item {
        color: rgb(43, 43, 43);
        background: #9FEBFF;
        border-radius: 1rem;
        // padding: 1rem 2rem;
        box-shadow: 2px 2px 5px #4e5d6540;
        margin: 1rem 5px;

        .content {
            display: flex;
            line-height: 1.2;
            margin-bottom: 10px;

            .contract-in-icon {

                ion-img {
                    width: 2rem;
                }

                display: flex;
                align-items: center;
                margin-right: 10px;
            }

        }

        .duration-bar {
            background: white;
            width: 100%;
            height: 15px;
            border-radius: 10px;
            border: 2px solid white;
            overflow: hidden;

            .process {
                border-radius: 10px;
                height: 100%;
                background: #0F8FB1;

                transition: all 500ms 100ms ease-in-out;
                // animation: process-animate 500ms 300ms ease-in-out forwards;
            }
            .process.display{
                width: 0% !important;
            }



        }

        .status {
            color: white;
            text-align: end;
            width: 100%;
            font-size: small;
        }
    }
}
@keyframes process-animate {
    from {
        width: 0%;
    }

    to {
        width: 80%;
    }
}
.fullpage {
    // width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}