<ion-content class="ion-padding">
  <div class="fullpage">
    <div class="fullbox">
      <div style="margin-bottom: 2rem;border-bottom: 2px solid var(--ion-color-primary);padding-bottom: 20px;">
        <h1>
          Training
        </h1>
      </div>
      <div [hidden]="(loading | async)" class="centerPage">
        <ion-col size="12" size-md="9" size-lg="8" size-xl="7" style="position: absolute;">
          <div [hidden]="state == 'video_end'" class="mediabox" [class.isPlaying]="isPlaying">
            <div class="video-player">
              <div [class.playing]="isPlaying" (click)="playpause()" class="playpause">
                <ion-icon name="play-circle-outline"></ion-icon>
              </div>
              <video [hidden]="!videoPath" #player width="100%">
                Your browser does not support HTML5 video.
              </video>

            </div>

            <div style="text-align: center;width: 100%;display: flex;justify-content: center;">
              <ion-progress-bar *ngIf="isPlaying" [value]="progressBar"></ion-progress-bar>
              <div *ngIf="!isPlaying">
                <ion-button [hidden]="(state | async)?.watched" (click)="playpause()" type="submit" shape="round"
                  class="btn-form">
                  <!-- <div *ngIf="loading | async"><ion-spinner name="dots"></ion-spinner></div> -->
                  <div class="text-nav">เริ่มดูวีดีโอ</div>
                </ion-button>
                <ion-button *ngIf="!((state | async)?.isPassed) && ((state | async)?.watched) && !(ban > new)"
                  (click)="exam()" color="success" type="submit" shape="round" class="btn-form">
                  <div class="text-nav">เริ่มสอบ</div>
                </ion-button>
                <ion-button *ngIf="((ban > new)) && !((state | async)?.isPassed)" color="danger" type="submit"
                  shape="round" class="btn-form">
                  <div class="text-nav">คุณได้ใช้โควต้าการสอบครบ 2 ครั้งแล้วกรุณาทำการสอบครั้งต่อไปในอีก 24 ชั่วโมง
                  </div>
                </ion-button>
                <div class="refcode">
                  <ion-button *ngIf="(state | async)?.isPassed" (click)="copycode()" type="submit" shape="round"
                    class="btn-form">
                    <div class="text-nav">รหัสแนะนำคือ : {{(state | async)?.reference}}</div>
                  </ion-button>
                  <div [class.active]="isCopy" class="pop arrow-top">
                    Copy!
                  </div>
                </div>
                <div>
                  <ion-button  *ngIf="(state | async)?.isPassed" (click)="lineOpen()" type="submit" shape="round"
                    class="btn-form line-btn">
                    <div class="text-nav">เข้าร่วมกลุ่ม</div>
                  </ion-button>
                </div>
              </div>

            </div>
          </div>

        </ion-col>

      </div>

    </div>
  </div>

</ion-content>