.fullbox {
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #4e5d6540;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    padding-left: var(--padding-start);
    padding-right: var(--padding-end);
    padding-top: calc(var(--padding-top) + var(--offset-top));
    padding-bottom: calc(var(--padding-bottom) + var(--keyboard-offset) + var(--offset-bottom));
    display: flex;
    flex-direction: column;

    h1 {
        margin: 0;
        color: var(--ion-color-primary);
    }
}
ion-button.line-btn{
    --background: linear-gradient(to bottom right, #12D2BC , #0AC555) !important;
}
.fullpage {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.bank-warpper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    padding: 1rem 0;

    .bank-display {
        border: 1px solid var(--ion-color-primary);
        padding: 1rem;
        border-radius: 1rem;
        color: var(--ion-color-primary);
        width: 100%;
        display: flex;
    }

    .bank-icon {
        color: var(--ion-color-primary);
        font-size: 3rem;
        line-height: 0;
    }

    .bank-detial {
        padding-left: 10px;
    }

    .remove-text {
        display: inline-block;
        width: fit-content;
        color: gray;
        cursor: pointer;
    }

    .remove-text:hover {
        color: var(--ion-color-danger);
        ;
    }
}

.btn-form {
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 1rem;
    }
}

.video-player {
    position: relative;
    margin-bottom: 1rem;
    border-radius: 10px;
    overflow: hidden;

    .playpause {
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.466);
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        z-index: 2;

        ion-icon {
            font-size: 4rem;
            color: white;
        }
    }

    .playpause.playing {
        opacity: 0;
    }

}

.mediabox {
    // width: 60%;
    border: 1px solid var(--ion-color-primary);
    border-radius: 1rem;
    padding: 1rem;
    position: relative;
    transition: all 200ms ease-out;
}

.mediabox.isPlaying {
    // width: 80%;
}

.centerPage {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.refcode {
    .pop{
        background-color: var(--ion-color-primary);
        color: white;
        padding: 5px 15px;
        position: absolute;
        margin-top: 3px;
        left: 50%;
        opacity: 0;
        float: left;
        border-radius: 1rem;
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */
    }
    .pop.arrow-top:after {
        content: " ";
        position: absolute;
        right: 50%;
        top: -5px;
        border-top: none;
        border-right: 5px solid transparent;
        border-left: 5px solid transparent;
        border-bottom: 5px solid var(--ion-color-primary);
    }
    .active{
        animation: fadeIn 500ms ease-in-out alternate;
    }
    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        20%{
            opacity: 1;
        }
        80%{
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}