.fullbox {
    background: white;
    border-radius: 1rem;
    box-shadow: 2px 2px 5px #4e5d6540;
    height: 100%;
    width: 100%;
    overflow-y: auto;
    position: absolute;
    // padding: 3rem;

    h1 {
        margin: 0;
        color: var(--ion-color-primary);
    }
}

.fullpage {
    position: relative;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.bank-warpper {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: 2rem;
    padding: 1rem 0;

    .bank-display {
        border: 1px solid var(--ion-color-primary);
        padding: 1rem;
        border-radius: 1rem;
        color: var(--ion-color-primary);
        width: 100%;
        display: flex;
    }

    .bank-icon {
        color: var(--ion-color-primary);
        font-size: 3rem;
        line-height: 0;
    }

    .bank-detial {
        padding-left: 10px;
    }

    .remove-text {
        display: inline-block;
        width: fit-content;
        color: gray;
        cursor: pointer;
    }.remove-text:hover{
        color: var(--ion-color-danger);;
    }
}

.btn-form {
    display: flex;
    align-items: center;

    ion-icon {
        font-size: 1rem;
    }
}