<ion-content class="ion-padding">
  <div class="fullpage ">
    <div class="fullbox ion-padding">
      <div style="margin-bottom: 2rem;border-bottom: 2px solid var(--ion-color-primary);padding-bottom: 20px;">
        <h1>
          บัญชีธนาคาร
        </h1>
      </div>
      <div style="display: flex;justify-content: space-between;">
        <div *ngIf="(bank_list | async)?.length > 0">
          คุณมี {{(bank_list | async)?.length}} บัญชีธนาคาร
        </div>
        <div *ngIf="(bank_list | async)?.length <= 0">
          คุณไม่มีบัญชีธนาคาร
        </div>
        <div >
          <ion-button routerLink="/add-bank" shape="round" class="btn-form">
            <div class="text-nav">เพิ่มบัญชีธนาคาร </div><ion-icon style="margin-left: 20px;" name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
        
      </div>
      <div class="bank-warpper">
        <div *ngFor="let b of (bank_list | async)">
          <div  class="bank-display">
            <div class="bank-icon">
              <ion-icon [src]="'assets/bank/'+b.bank_name+'.svg'"></ion-icon>
            </div>
            <div class="bank-detial">
              <div>
                {{b.account_holder_firstname}} {{b.account_holder_lastname}}
              </div>
              <div>
                {{b.account_number}}
              </div>
            </div>
          </div>
          <!-- <div style="width: 100%;text-align: end;">
            <div class="remove-text">
              ลบออก
            </div>
          </div> -->

        </div>

        
      </div>
      <!-- {{(bank_list | async) | json}} -->
    </div>

  </div>

</ion-content>